extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	include content/__examples_form
	include content/__examples_drugndrop
	span dasda s s

block append
