//
//@font-face {
//	font-family: 'Pacifico';
//	src: url('../../fonts/pacifico/Pacifico-Regular.eot');
//	src: local('☺'),
//	url('../../fonts/pacifico/Pacifico-Regular.woff') format('woff'),
//	url('../../fonts/pacifico/Pacifico-Regular.ttf') format('truetype'),
//	url('../../fonts/pacifico/Pacifico-Regular.svg') format('svg');
//	font-weight: normal;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'Montserrat';
//	src: url('../../fonts/montserrat/Montserrat-Regular.eot');
//	src: local('☺'),
//	url('../../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
//	url('../../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
//	url('../../fonts/montserrat/Montserrat-Regular.svg') format('svg');
//	font-weight: normal;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'Montserrat';
//	src: url('../../fonts/montserrat/Montserrat-Bold.eot');
//	src: local('☺'),
//	url('../../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
//	url('../../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
//	url('../../fonts/montserrat/Montserrat-Bold.svg') format('svg');
//	font-weight: bold;
//	font-style: normal;
//}
//
//%pacificoFont{
//	font-family: 'Pacifico', sans-serif;
//	font-style: normal;line-height: 1.03;
//}