
$formInputPadding: 15px !default;

$formFontSize: 14px !default;
$formLineHeight: 1.2 !default;

$formFieldHeight: 40px !default;
$formBorderRadius: 5px !default;
$formCheckboxWidth: 20px !default;
$formCheckboxPadding: 10px !default;
$formGutter: 30px !default;

$formColorBackground: transparent !default;
$formColorText: black !default;
$formColorFootnote: black !default;
$formColorBorder: grey !default;
$formColorError: red !default;
$formColorSuccess: green !default;
$formColorFocus: blue !default;

$formBorderMarker: 1px !default;
$formBorderTopWidth: 1px !default;
$formBorderBottomWidth: 1px !default;
$formBorderRightWidth: 1px !default;
$formBorderLeftWidth: 1px !default;


$formMarginBottom: 25px;



.form{


	&__title{
		font-size: 14px;
		color: #717E8B;

		span{
			font-size: 11px;
		}
	}

	&__text{

	}


	&__field{
		position: relative;
		margin-bottom: $formMarginBottom;
		font-size: $formFontSize;
		display: inline-block;
		width: 100%;
		padding: 0 ($formGutter / 2);
		box-sizing: border-box;
		vertical-align: top;

		&_2{
			width: (100% / 2);
		}
		&_3{
			width: (100% / 3);
		}
		&_free{
			width: auto;
		}

		&_submit{

		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorError!important;
				}
			}
		}

		&.f-success{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorSuccess!important;
				}
			}
		}

	}

	&__message{
		position: relative;
		font-size: 0.6em;

		&:empty{
			display: none;
		}

		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}
	}

	&__label{
		position: relative;
	}

	&__input{
		position: relative;
		display: block;
		textarea,
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="text"]{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($formFieldHeight - $formBorderTopWidth - $formBorderBottomWidth);
			height: $formFieldHeight;
			border: solid $formColorBorder;
			border-width: $formBorderTopWidth $formBorderRightWidth $formBorderBottomWidth $formBorderLeftWidth;
			border-radius: $formBorderRadius;
			background-color: $formColorBackground;
			transition: border 0.3s ease;
			padding: 0 $formInputPadding;
			box-shadow: inset 0 0 0 $formFieldHeight / 2 $formColorBackground;

			&:focus{
				border-color: $formColorFocus;
			}

			.f-error &{
				border-color: $formColorError;
			}


			.f-success &{
				border-color: $formColorSuccess;
			}

			&:hover{
				//border-color: $formColorFocus;
			}
		}


		input[type="submit"]{

		}

		label{
			display: inline-block;
			vertical-align: top;
			margin-right: $formGutter;
		}


		input[type="radio"],
		input[type="checkbox"]{
			opacity: 0;
			position: absolute;

			& ~ {
				.form__label{
					padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2 ) 0 (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2 ) $formCheckboxWidth + $formCheckboxPadding;


					&:before{
						content: '';
						width: $formCheckboxWidth;
						box-sizing: border-box;
						height: $formCheckboxWidth;
						display: block;
						position: absolute;
						top: (($formFieldHeight - $formCheckboxWidth ) / 2 );
						left: 0;
						border-radius: $formBorderRadius;
						background: $formColorBackground no-repeat 50% 50%;
						background-size: 0 0;
						border: solid $formColorBorder;
						border-width: $formBorderMarker;
						transition: all 0.2s ease;

						.f-error &{
							border-color: $formColorError;
						}

						.f-success &{
							border-color: $formColorSuccess;
						}
					}
				}
			}


			&:checked{
				& ~ {
					.form__label{

						&:before{
							border-color: $formColorFocus;
							//background-color: $formColorFocus;
							background-size: 100% 100%;
						}

					}
				}
			}
		}


		input[type="checkbox"]{

			& ~ {
				.form__label{
					&:before{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%233BB0FF' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}

		input[type="radio"]{

			& ~ {
				.form__label{
					&:before{
						border-radius: 50%;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Ccircle fill='%233BB0FF' cx='10' cy='10' r='5'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}



		textarea{
			resize: none;
			height: 170px;
			line-height: 1.2;

			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;


		}

		&-value{
			position: absolute;
		}

		&-clear{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {

				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-arrow{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 15px;
				margin-top: -1px;

			}
			&:before {
				transform: rotate(45deg);
				margin-left: -13px;

				input:focus ~ &{
					transform: rotate(-45deg);
					background: $formColorText;
				}
			}
			&:after {
				transform: rotate(-45deg);
				margin-left: -4px;

				input:focus ~ &{
					transform: rotate(45deg);
					background: $formColorFocus;
				}
			}

			&:hover{
				&:before,
				&:after {

				}
			}
		}
	}

	&__footnote{
		color: $formColorFootnote;
	}

	&__placeholder{
		position: absolute;
		color: $formColorText;
		top: 0;
		right: 100%;
		left: 0;
		text-align: right;
		line-height: $formFieldHeight;
		cursor: default;
		pointer-events: none;

		white-space: nowrap;
		box-sizing: border-box;
		transition: all 0.3s ease;
		padding: 0 $formInputPadding;
		z-index: 1;


		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}

		input:focus ~ &,
		textarea:focus ~ &,

		.f-filled &{
			top: -33px;
			font-size: 14px;
			color: #717E8B;
		}


	}

	&__wrap{
		font-size: 0;
		margin: 0 (-$formGutter / 2);


		@import "../modules/selectize";

	}
}

