

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-width: 640px;
	line-height: 1.2;
}

.wrapper{

}



.btn{
	cursor: pointer;
}


.website {

}




.only{
	&-mobile{
		@include breakPoint($breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
	}
}

.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;
		}

	}


	&-dots{


		li{

		}

		button{

		}


		.slick-active{
			button{

			}
		}
	}
}


[data-tab-target]{
	position: absolute;
	z-index: -1;
	pointer-events: none;

	&.is-active{
		position: static;
		z-index: auto;
		pointer-events: all;
	}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}



.img-fit{
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
